<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{#    <script src="http://code.highcharts.com/highcharts.js"></script>#}
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="/static/js/highcharts_dark_theme.js"></script>

    <script>
        $(document).ready(function() {
            chart = $('#container').highcharts('StockChart', {
                chart: {
                    type: 'column',
                    zoomType: 'x'
                },
                title: {
                    text: 'Percent composition of date by calendar',
                    x: -200
                },
                legend: {
                    enabled: true
                },
                xAxis: {
                    tickmarkPlacement: 'on',
                    title: {
                        enabled: false
                    },
                    type: 'datetime',
                    max: Date.now()
                },
                yAxis: {
                    title: {
                        text: 'Percent'
                    },
                    max: 100    // TODO: values shouldn't go over 100
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b><br/>',
                    shared: true
                },
                plotOptions: {
                    area: {
                        stacking: 'percent',
                        lineColor: '#ffffff',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#ffffff'
                        }
                    },
                    column: {
                        stacking: 'percent'
                    }
                },
                exporting: {
                    buttons: {
                        thisYearButton: {
                            x: -255,
                            onclick: function () {
                                chart.xAxis[0].setExtremes(Date.UTC(2014, 1, 1), Date.UTC(2015, 1, 1));
                            },
                            symbol: 'square',
                            text: "2014"
                        },
                        lastMonthButton: {
                            x: -175,
                            onclick: function () {
                                chart.xAxis[0].setExtremes(Date.UTC(2014, 8, 1), Date.UTC(2014, 8, 30));
                            },
                            symbol: 'square',
                            text: "08/14"
                        },
                        lastWeekButton: {
                            x: -50,
                            onclick: function () {
                                chart.xAxis[0].setExtremes(Date.UTC(2014, 8, 14), Date.UTC(2014, 8, 20));
                            },
                            symbol: 'square',
                            text: "week in 08/14"
                        }
                    }
                }

            });
            chart = $('#container').highcharts();
            $.each(Object.keys(seriesOptions), function (itemNo, seriesName) {
                // Sorts series by date
                seriesOptions[seriesName].sort(function(a,b) { return a[0] - b[0] } );
                chart.addSeries({
                    name: seriesName,
                    data: seriesOptions[seriesName]
                }, true);
            });
            chart.addSeries({
                type: 'flags',
                name: 'Notes',
                data: [
                    {
                        x: Date.UTC(2013, 10, 15),
                        text: 'Position change at Thinktiv and I started to record more work information on my calendar.',
                        title: 'NOTE'
                    },
                    {
                        x: Date.UTC(2010, 11, 1),
                        text: 'Added Important calendar for homework, Productive calendar for studying/chores',
                        title: 'NOTE'
                    },
                    {
                        x: Date.UTC(2013, 1, 21),
                        text: 'Started work at Thinktiv',
                        title: 'NOTE'
                    }
                ],
                tooltip: {
                    pointFormat: '{point.text}'
                }
            });
        });

        seriesOptions = [];
        {% for calendar in calendars %}
            seriesOptions["{{calendar}}"] = [];
        {% endfor %}
        {% for date, date_data in dates_map.iteritems() %}
            {% for calendar, calendar_data in date_data.calendars.iteritems() %}
                {% if date <= today.date() %}
                {% if calendar_data.1 != None %} // TODO: This shouldn't occur, but it does
        seriesOptions["{{ calendar }}"].push([Date.parse("{{ date.month }} {{ date.day }}, {{ date.year }}"), {{ calendar_data.1 }}]);
                {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        // TODO: markers explaining big events

    </script>

</head>
<body>

<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

</body>
</html>